__pycache__/
*.pyc
*.pyo
*.pyd

sqtab.db
.sqtab.log
sqtab.egg-info
.env

# Local export output
exports/*
!exports/.gitkeep

# Virtual environments
venv/
.env/
.virtualenv/

# Build artifacts
dist/
build/
*.egg-info/

.idea